* {
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: bisque;
    height: 56px;
    display: flex;
    align-items: center;
    z-index: 1000;
    padding: 8px 20px;
    justify-content: space-between;

}

.nav-sections {
    gap: 24px;

}

.profile-pic {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
}

.homepage {
    display: flex;
    padding: 20px 16px;
    justify-content: space-between;
    gap: 20px;
}

.home-pic {
    width: 510px;
    height: 340px;
    border-radius: 12px;
}